<mat-toolbar id="header">
    <span>BooksOnline</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
            <mat-icon>account_circle</mat-icon>
            <span>Signup</span>
        </button>
        <button mat-menu-item  [routerLink]="['/login']">
            <mat-icon>forward</mat-icon>
            <span>Login</span>
        </button>
    </mat-menu>
      
  </mat-toolbar>